body{
	background-color: #060608;
}

image-container {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin-top: 0px;
  border-top: 0px;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.cabecera {
  position: absolute;
  top: 50%; 
  left: 10%;
  right: 77%;
  transform: translate(-50%, -50%);  
  color: #8A2A20; 
  padding: 10px 20px; 
  font-size: 100px; 
  text-align: justify;
}
.texto_introductorio {
	color: #A88900;
	position: absolute;
	top: 60%; 
	left: 81%; 
	transform: translate(-50%, -50%);  
	padding: 10px 20px; 
	font-size: 20px; 
	text-align: left;
}

.space{
	background-color: #060608;
	min-height: 150vh;

}

.texto{
	background-color: #060608;
	font-family: unset;
	color: white;
	left: 50%;
  right: 50%;
}

img{
	align: center;
}

h2{
	color: white;
	align: center;
}

footer{
	background-color: #005858;
	padding: 30px;
	margin: 0px;
	border-top: 0px;
}

