body{
	background-color: #070608;
}

image-container {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin-top: 0px;
  border-top: 0px;
  background-position: top-center 
}

.image-container img {
  width: 100%;
  lenght:100;
  height: auto;
  padding: 0px;
  margin-top: 0px;
  border-top: 0px;
  background-position: top-center
}

.cabecera {
  position: absolute;
  top: 50%; 
  left: 10%;
  right: 77%;
  transform: translate(-50%, -50%);  
  color: #8A2A20; 
  padding: 10px 20px; 
  font-size: 100px; 
  text-align: justify;
}

.texto_introductorio {
	color: #A88900;
	position: absolute;
	top: 60%; 
	left: 81%; 
	transform: translate(-50%, -50%);  
	padding: 10px 20px; 
	font-size: 20px; 
	text-align: left;
}

.space{
	background-color: #070608;
	min-height: 90vh;

}

.texto{
	background-color: #070608;
	font-family: unset;
	color: white;
	align-items: center;
  size: 40px ;
}

image-container{
	align-items: center;
}

h2{
	color: white;
}

section#Tarjetas{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #005858;
}

div#card{
  width: 200px;
  height: 300px;
  border-radius: 5px;
  background: var(--i);
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
  margin: 20px;
  overflow: hidden;
}
div#content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.5s;
}

h2, a{
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0px;
}

div#card:hover div#content{
  opacity: 1;
}



img{
	align-items: center;
}

h3{
	align-items: center;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005858;
  padding: 30px;
  margin: 0px;
  border-top: 0px;
}
  
h3#Contacto1{
  margin: 50px;
}
h3#Contacto2{
  margin: 50px;
}
h3#Contacto3{
  margin: 50px;
}

section#Gráficos{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img#Jorge1{
  margin: 80px;
}

img#Jorge2{
  margin: 80px;
}

section#Gráficos2{
  display: flex;
  align-items: left;
  justify-content: left;
}


.fade {
  margin: 50px;
  padding: 50px;
  background-color: #070608;
  opacity: 1;
}


.container-1{
  display: flex;
  flex-direction: column;
}

.vertcontainer-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 25%;
  right: 25%;
}

.image-container-2{
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  
}
