body{
	background-color: #060608
}

image-container {
  position: relative;
  display: inline-block;
  margin-top: 0 px
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.cabecera {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #000000; 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;

footer{
	background-color: #005858
}

