body{
	background-color: #070608;
  margin: 0px auto;
  justify-content: center;
}

header{
  height: 100vh;
}

image-container {
  position: relative;
  display: inline-block;
  padding-top: 0px;
  margin-top: 0px;
  border-top: 0px;
  background-position: top-center;
}

.image-container img {
  margin-bottom: 15px;
  width: 80%;
  lenght:100%;
  height: auto;
  padding-top: 0px;
  margin-top: 0px;
  border-top: 0px;
  padding-left: 11%;
  background-position: top-center;
  align-content: center;
}

.cabecera {
  position: absolute;
  top: 45%; 
  left: 13%;
  right: 77%;
  transform: translate(-50%, -50%);  
  color: #8A2A20; 
  padding: 10px 20px; 
  font-size: 100px; 
  text-align: justify;
  font-weight: 600;
}

.texto_introductorio {
	color: #A88900;
	position: absolute;
	top: 60%; 
	left: 79%; 
	transform: translate(-50%, -50%);  
	padding: 10px 20px; 
	font-size: 20px; 
	text-align: left;

}

}

image-container{
	align-items: center;
}

h2{
	color: white;
}

section#Tarjetas{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #005858;
  margin: 0 auto;
}

div#card{
  width: 200px;
  height: 300px;
  border-radius: 5px;
  background: var(--i);
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
  margin: 20px;
  overflow: hidden;
}
div#content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.5s;
}

h2, a{
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0px;
}

div#card:hover div#content{
  opacity: 1;
}



img{
	align-items: center;
}

h3{
	align-items: center;
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #005858;
  padding: 30px;
  margin: 0px;
  border-top: 0px;
}
 
h3#Nombres{
  margin: 50px;
  flex-direction: column;
}
h3#Contacto1{
  margin: 50px;
  flex-direction: column;
}
h3#Contacto2{
  margin: 50px;
  flex-direction: column;
}
h3#Contacto3{
  margin: 50px;
  flex-direction: column;
}

section#Gráficos{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img#Jorge1{
  margin: 80px;
}

img#Jorge2{
  margin: 80px;
}

section#Gráficos2{
  display: flex;
  align-items: left;
  justify-content: left;
}

.space-2 {
  max-height: 400px;
  max-width: 400px;
}

.image-container-2 {
  padding-right: 85%;
  padding-left: 15%;
  padding-top: 50%;
  width: 500px;
  height: auto;
  max-width: 20%;
  max-height: 20%;
  border-radius: 10px;
  opacity: 0;
  transition: 5s
}

.aparecer-image-container-2 {
  opacity: 1;
}

.image-container-3 {
  padding-right:45%;
  padding-left: 50%;
  padding-top:50%;
  width: 500px;
  height:auto;
  max-width: 20%;
  max-height: 20%;
  border-radius: 10px;
  opacity: 0;
  transition: 8s
}

.aparecer-image-container-3 {
  opacity: 1;
}

.image-container-4 {
  padding-right: 85%;
  padding-left: 15%;
  padding-top:50%;
  width: 500px;
  height:auto;
  max-width: 20%;
  max-height: 20%;
  border-radius: 10px;
  opacity: 0;
  transition: 9s
}

.aparecer-image-container-4 {
  opacity: 1;
}

.image-container-5 {
  padding-right: 45%;
  padding-left: 50%;
  padding-top: 50%;
  padding-bottom: 0%;
  width: 500px;
  height:auto;
  max-width: 20%;
  max-height: 20%;
  border-radius: 10px;
  opacity: 0;
  transition: 9s;
}

.aparecer-image-container-5 {
  opacity: 1;
}


.texto-1 {
  background-color: #070608;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
  font-family: unset;
  color: #99e4ff;
  justify-content: center;
  padding-right: 17%;
  padding-left: 19%;
  padding-top: 21%;
  padding-bottom: 35%;
  width: auto;
  height:auto;
  max-width: auto;
  max-height: auto;
  opacity: 0;
  transition: 5s;
}

.aparecer-texto-1{
  opacity: 1;
}

.texto-2 {
  color: #f4d54c;
  background-color: #070608;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
  font-family: unset;
  justify-content: center;
  padding-right: 19%;
  padding-left: 21%;
  padding-top: 50%;
  padding-bottom: 3%;
  width: auto;
  height:auto;
  max-width: auto;
  max-height: auto;
  opacity: 0;
  transition: 5s;
}

.aparecer-texto-2 {
  opacity: 1;
}

.Aquiles-container {
  display: flex;
  flex-direction: row;
  padding-left: 4%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #005858;
  margin-top: 50%;
  margin-left: 3%;
  margin-right: 4%;
  border-radius: 10px;
  opacity: 0;
  transition: 5s;
}

.aparecer-Aquiles-container {
  opacity: 1;
}

.Manuel-container {
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #005858;
  margin-top: 50%;
  margin-left: 3%;
  margin-right: 4%;
  border-radius: 26px;
  opacity: 0;
  transition: 9s;
}

.Manuel-container {
  opacity: 1;
}

.Aquiles-vertcontainer-1{
  display: flex;
  flex-direction: column;
  order: 1;
  max-width: 100px;
  padding-left: 10px;
  padding-top: 3%;
}

.Manuel-vertcontainer-1{
  display: flex;
  flex-direction: column;
  order: 1;
  max-width: 100px;
  padding-left: 50px;
  padding-top: 3%;
}

.Aquiles{
    border-radius: 26px;
}

.Manuel{
    border-radius: 26px;
}

.Aquiles-vertcontainer-2 {
  display: flex;
  flex-direction: column;
  order: 3;
  max-width: 690px;
  padding-left: 2%;
}

.Manuel-vertcontainer-2 {
  display: flex;
  flex-direction: column;
  order: 2;
  max-width: 200px;
  padding-left: 10%;
  color: white
}


.Aquiles-vertcontainer-3 {
  display: flex;
  flex-direction: column;
  color: #99e4ff;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 10%;
  max-width: 170px;
  order: 2;
  font-size: large; 
}

.Manuel-vertcontainer-3 {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 0%;
  max-width: 600px;
  order: 3;
  font-size: large; 
}

#texto-Aquiles{
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
  font-style: italic;
  padding-left: 20px;
  color: white;
  padding-top: 20px;
}

#texto-Manuel {
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
  font-style: italic;
  padding-left: 27px;
  color: white;
}

.image-container-6 {
  padding-right: 25%;
  padding-left: 21%;
  padding-top: 0%;
  padding-bottom: 0%;
  width: 810px;
  height:auto;
  max-width: 20%;
  max-height: 20%;
  border-radius: 20px;
  perspective: 1px;
  opacity: 0;
  transition: 6s;
}

.aparecer-image-container-6 {
  opacity: 1;
}

#texto-3{
  color: white;
  background-color: #070608;
  text-align: justify;
  font-family: unset;
  justify-content: center;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
  padding-right: 25%;
  padding-left: 28%;
  padding-top: 50%;
  padding-bottom: 25%;
  width: auto;
  height:auto;
  max-width: auto;
  max-height: auto;
}

h2{
  color: #f4d54c;
  background-color: #070608;
  text-align: justify;
  font-family: unset;
  justify-content: center;
  font-size: xxx-large;
  text-align: justify;
  text-justify: inter-word;
  padding-right: 20%;
  padding-left: 23%;
  padding-top: 50%;
  padding-bottom: 50%;
  width: auto;
  height:auto;
  max-width: auto;
  max-height: auto;
}


.container-1 {
  opacity: 0;
  transition: 6s;
  padding-left: 6%;
  padding-right: 0%;
  width: 1150px;
  height: 800px;
}

.aparecer-container-1 {
  opacity: 1;
}


#container-1-y-medio {
  padding-left: 11%;
  padding-right: 20%;
  padding-top: 0%;
  width: 1200px;
  height: auto;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
  background-color: #070608;
}

#texto-4{
  color: white;
  background-color: #00005f;
  text-align: justify;
  font-family: unset;
  justify-content: center;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: auto;
  height:auto;
  max-width: 990px;
  max-height: auto;
  border-radius: 26px;
}

#image-container-7 {
  justify-content: center;
  padding-right: 25%;
  padding-left: 25%;
  padding-top: 25%;
  padding-bottom: 40%;
  width: 700px;
  height: auto;
  max-width: auto;
  max-height: auto;
  border-radius: 10px;
}

#texto-5 {
  color: ##f4d54c;
  background-color: #070608;
  text-align: justify;
  font-family: unset;
  justify-content: center;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
  padding-right: 25%;
  padding-left: 27%;
  padding-top: 10%;
  padding-bottom: 25%;
  width: auto;
  height:auto;
  max-width: auto;
  max-height: auto;
}

.texto-6{
  color: white;
  background-color: #070608;
  text-align: justify;
  font-family: unset;
  justify-content: center;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
  padding-right: 18%;
  padding-left: 15%;
  padding-top: 0%;
  padding-bottom: 25%;
  width: auto;
  height:auto;
  max-width: auto;
  max-height: auto;
  opacity: 0;
  transition: 7s;
}

.aparecer-texto-6 {
  opacity: 1;
}

.texto-bloqueos{
  padding-left: 5%;
  margin-left: 16%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom:5%;
  opacity: 0;
  transition: 5s;
  max-width: 800px;
  color: white;
  background-color: #8A2A20;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
  border-radius: 26px;
}

.aparecer-texto-bloqueos {
  opacity: 1;
}

.texto-bloqueos-2 {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50%;
  opacity: 1;
  transition: 5s;
  color: white;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
}

.aparecer-texto-bloqueos-2 {
  opacity: 1;
}


.container-2 {
  text-align: justify;
  padding-left: 2%;
  border-radius: 10px;
  opacity: 0;
  transition: 5s;
}

.aparecer-container-2 {
  opacity: 1;
}

#container-3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  width: 1200px;
}

#vertcontainer-3 {
  display:flex;
  flex-direction: column;
  order: 2;
  border-radius: 100px;
  width: 500px;
  height: 400px;
  padding-left: 15%;
}

#vertcontainer-4 {
  display:flex;
  flex-direction: column;
  order: 1;
  padding-left: 15%;
}

#texto-7{
  background-color: #005858;
  border-radius: 26px;
  margin-right: 30%;
  padding-left: 10%;
  padding-top: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  width: 350px;
  height: auto;
  justify-content: center;
  color: white;
  font-size: large;
  text-align: justify;
  text-justify: inter-word;
}

#texto-7y5{
  background-color: #005858;
  margin-right: 15%;
  border-radius: 26px;
  padding-left: 10%;
  padding-top: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  width: 300px;
  height: auto;
  justify-content: center;
  color: white;
  font-size: large;
  text-align: justify;
  text-justify: inter-word;
}

#container-3y5{
  display: flex;
  flex-direction: row;
  margin-bottom: 50%;
  width: 1200px;
}

#vertcontainer-3y5y1 {
  display:flex;
  flex-direction: column;
  order: 1;
  border-radius: 26px;
  perspective: 1px;
  width: 500px;
  height: 400px;
  padding-left: 15%;
}

#vertcontainer-3y5y2{
  display:flex;
  flex-direction: column;
  order: 2;
  width: 500px;
  height: 400px;
  margin-left: 130px;
}

.indice-container{
  display: flex;
  flex-direction: row;
  padding-left: 25%;
}

.indice{
  display: flex;
  flex-direction: column;
  width: 140px;
  heignt: auto;
  padding-right: 50px;
}

.indice-2{
  display: flex;
  flex-direction: column;
  width: 700px;
  heignt: 900px;
}

.texto-extra-1 {
  padding-left: 13%;
  padding-right: 15%;
  padding-bottom: 50px;
  color: white;
  max-width: 1000 px;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
}

.texto-extra-2{
  padding-left: 13%;
  padding-right: 28%;
  padding-top: 50px;
  width: 1000px;
  color: white;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
}

#container-4 {
  display: flex;
  flex-direction: row;
  margin-bottom: 70%;
  padding-top: 50%;
}

#vertcontainer-5 {
  display:flex;
  flex-direction: column;
  order: 2;
  padding-right: 5%;
  padding-left: 0%;
}

#vertcontainer-6 {
  display:flex;
  flex-direction: column;
  order: 1;
  padding-left: 20%;
  border-radius: 10px;
  width: 500px;
  height: 300px;
}

#texto-8{
  color: #f4d54c;
  background-color: #070608;
  padding-right: 0%;
  padding-left: 10%;
  padding-top: 0%;
  width: 550px;
  height: auto;
  max-width: 70%;
  max-height: 100%;
  justify-content: center;
  font-size: x-large;
}

.texto-9{
  color: #4c97f7;
  padding-left: 10%;
  padding-right: 30%;
  font-size: x-large;
  padding-bottom: 30px;
}

.texto-10 {
  color: #f4d54c;
  background-color: #070608;
  padding-right: 24%;
  padding-left: 20%;
  padding-top: 40%;
  width: 890px;
  height: auto;
  max-width: 60%;
  max-height: 60%;
  justify-content: center;
  opacity: 0;
  transition: 5s;
  justify-content: center;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
}

.aparecer-texto-10 {
  opacity: 1;  
}

.container-5 {
  text-align: justify;
  padding-left: 50%;
  filter: dropshadow(0px 3px 5px black);
  opacity: 0;
  transition: 5s;
  width: 500px;
  height: 500px;
}

.aparecer-container-5 {
  opacity: 1;
}

.Image-with-curved-border{
  border-radius: 30px;
}

.space {
  background-color: #070608;
  width: auto;
  height: 50px;


<<<<<<< HEAD
=======
